.toggle-panel {
  text-align: center;
  width: 350px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 25px;
}

.white-btn {
  padding: 10px 20px;
  background: white;
  color: #3f51b5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}