.auth-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.auth-left {
  flex: 1;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-right {
  flex: 1;
  background: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}